:root{
    --green: #568203;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sans-Serif;
    text-decoration: none;
    transition: 2s linear;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

body {
    justify-content: flex-start;
    padding-top: 150px; /* Adjust the padding as needed */
}

table {
    border: 2px solid black;
    border-collapse: collapse;
}

td, th {
    border: 1px solid darkslategray;
}

/* taken from mozilla html and css tutorial: */
tr:nth-child(even) td {
    background-color: rgb(250,250,250);
}

tr:nth-child(odd) td {
    background-color: rgb(245,245,245);
}

table-header {
    text-align: center;
    font-size: x-large;
}

p {
    color: darkslategray;
}

.large-text {
    font-size: 1.5em; /*adjust the size as needed*/
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #fff;
    padding: 2rem 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo span{
    color:var(--green);
}

input[type="text"], input[type="password"], textarea {
    font-size: 1.2em; /*font size*/
    padding: 0.1em; /*padding*/
    width: 50%; /*width on box*/
    box-sizing: border-box; /*ensure padding is included in the width*/
}

.image-row{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.image-row img{
    margin: 0 10px;
    max-width: 700px; /*width of pictures*/
    height: auto;
}