<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Markets List</title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>

<body>
<header>
    <a th:href="@{/homepage/{profileID} (profileID=${profile_id})}" class="logo">
        <h1><span>Local</span>Wish<span>.</span></h1>
    </a>

    <form class="logo" method="get" th:action="@{/login}" style="display:inline;">
        <button type="submit">Log out</button>
    </form>
</header>
<h1>Markets</h1>

<table>
    <thead>
    <tr>
        <th>City</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="market : ${allMarkets}">
        <!-- Access city and marketId directly -->
        <td th:text="${market.getMarket_city()}"></td>
        <td>
            <form th:action="@{/homepage/{profile_id}/addMarket(profile_id=${profile_id})}" th:object="${market_id}" method="post">
                <input type="hidden" th:name="market_id" th:value="${market.getMarket_id()}" />
                <button type="submit">Add Market</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>