<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Market</title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>

<body>
<header>
    <h1 class="logo"><span>Local</span>Wish<span>.</span></h1>
    <form class="logo" method="get" th:action="@{/login}" style="display:inline;">
        <button type="submit">Log out</button>
    </form>
</header>
    <h1>My market</h1>

    <!--<p> endpoint: /homepage/{profileID}/market</p>
    <p> Bynavn</p>
    <ul>
        <li><a href="myHomepage.html">My homepage</a></li>

        <th:block th:each="product : ${products}">
            <li>
                <strong th:text="${product.productName}">Product Name</strong>:
                <span th:text="${product.productDescription}">Product Description</span> -
                $<span th:text="${product.productPrice}">Product Price</span>
            </li>
        </th:block>

    </ul>
    <p> liste med ønsker/produkter. Dropdown menu med ønskelister, så man kan tilføje ønsket.</p>
        -->

    <table>
        <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Product description</th>
        </tr>
        </thead>

        <tbody>
        <p th:if="${#lists.isEmpty(products)}">No products available.</p>
        <tr th:each="product : ${products}">
            <td th:text="${product.productName}"></td>
            <td th:text="${product.productPrice}"></td>
            <td th:text="${product.productDescription}"></td>

            <td>
                <form method="post" th:action="@{/update/addWish}">
                    <input type="hidden" name="productID" th:value="${product.getProductId()}">

                    <!-- Dropdown to select a wishlist -->
                    <select name="wishlistID" required>
                        <option value="" disabled selected>Select wishlist</option>
                        <option th:each="wishlist : ${wishlists}" th:value="${wishlist.getWishlist_id()}" th:text="${wishlist.getName()}"></option>
                    </select>

                    <button type="submit">Add to wishlist</button>
                </form>
            </td>
        </tr>

        </tbody>
    </table>
</body>
</html>