<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Market</title>
</head>
<body>
    <h1> Market</h1>
    <p> endpoint: /homepage/{profileID}/market</p>
    <p> Bynavn</p>
    <ul>
        <li><a href="myHomepage.html">My homepage</a></li>
    </ul>
    <p> liste med ønsker/produkter. Dropdown menu med ønskelister, så man kan tilføje ønsket.</p>

    <table>
        <tr>
           <th>Product</th>
            <th>Price</th>
            <th>Vendor</th>
            <th>Description</th>
        </tr>

        <tr>
            <td>Håndtaske</td>
            <td>300 kr</td>
            <td>Fru Hansens Kufferter</td>
            <td>Lille håndtaske. Fås i rød, sort og brun.</td>
        </tr>
    </table>
</body>
</html>