<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My homepage</title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>

<body>
<header>
    <h1 class="logo"><span>Local</span>Wish<span>.</span></h1>
    <form class="logo" method="get" th:action="@{/login}" style="display:inline;">
        <button type="submit">Log out</button>
    </form>
</header>

    <h1> My homepage</h1>

    <form method="get" th:action="@{/login}" style="display:inline;">
        <button type="submit">log ud</button>
    </form>

    <form method="get" th:action="@{/homepage/{profileID}/market (profileID = ${profile_id})}" style="display:inline;">
    <button type="submit">Market</button>
    </form>

    <p> Create new wishlist</p>
    <form method="post" th:action="@{/homepage/{profileID}/addWishList}" th:object="${wishlist}" style="display:inline;">
        <label for="option1">Name: </label>
        <input type="text" id="option1" name="name" th:value="${wishlist.getName()}"/>
        <button type="submit">Submit</button>
    </form>

    <table>
        <tr>
            <th>My Wishlists:</th>
        </tr>

        <tr>
            <td> navn </td>
            <td> link </td>
        </tr>

        <tr th:each="wishlist : ${wishlist_overview}">
            <td th:text="${wishlist.getName()}"/>
            <td th:href="@{/homepage/{profileID}/wishlist/view/{wishlistID} (profile_id= ${profile_id}, wishlist_id = ${wishlist.getWishlist_id()} )}"/>
        </tr>

    </table>

</body>
</html>