<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My homepage</title>
</head>
<body>
    <h1> My homepage</h1>
    <p> endpoint: /homepage/{profileID}</p>

    <form method="get" action="loginPage.html" style="display:inline;">
        <button type="submit">log ud</button>
    </form>

    <ul>
        <li><a href="market.html">Market</a></li>
        <li><a href="myWishlist.html">My wishlist</a></li>
    </ul>

    <p> opret ny ønskeliste</p>
    <table>
        <tr>
            <th>My Wishlists:</th>
        </tr>

        <tr>
            <td><a href="myWishlist.html">Min seje ønskeliste B-)</a></td>
            <td>sletknap</td>
        </tr>
        <tr>
            <td><a href="myWishlist.html">Fødselsdag!!</a></td>
        </tr>
    </table>

    <p> slet profil</p>
</body>
</html>