<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My wishlist</title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
<header>
    <a th:href="@{/homepage/{profileID} (profileID=${profile_id})}" class="logo">
        <h1><span class="local">Local</span><span class="wish">Wish</span><span class="local">.</span></h1>
    </a>

    <form class="logo" method="get" th:action="@{/login}" style="display:inline;">
        <button type="submit">Log out</button>
    </form>
</header>
<h1> My wishlist</h1>

<a th:href="@{/homepage/{profileID} (profileID=${profile_id})}">Back to homepage </a>

<br><table>
    <tr>
        <th class="table-header" colspan="3" th:text="${wishlist.name}"> </th>
    </tr>

    <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Description</th>
    </tr>

    <tr th:each="product : ${wishlist.products}">
        <td th:text="${product.product_name}"></td>
        <td th:text="${product.product_price}"></td>
        <td th:text="${product.product_description}"></td>
    </tr>
</table>
</body>
</html>