<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Profile</title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
<header>
    <h1 class="logo"><span>Local</span>Wish<span>.</span></h1>
</header>
<h1>Create new profile</h1>
<form th:action="@{/login/newProfile}" method="post" th:object="${newProfile}">
    <label class="large-text">Username:
        <input type="text" name="username" th:value="${newProfile.username}" required>
    </label>
    <br>
    <label class="large-text">Password:
        <input type="password" name="password" th:value="${newProfile.password}" required>
    </label>
    <br>
    <label class="large-text">Email:
        <input type="email" name="email" th:value="${newProfile.email}" required>
    </label>
    <br>
    <label class="large-text">Phone:
        <input type="number" name="phoneNumber" th:value="${newProfile.phoneNumber}" required>
    </label>
    <br>
    <button type="submit">Submit</button>
</form>
</body>
</html>
