<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Search for Wishlists</title>
  <link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
<header>
  <h1 class="logo"><span>Local</span>Wish<span>.</span></h1>
  <form class="logo" method="get" th:action="@{/login}" style="display:inline;">
    <button type="submit">Log out</button>
  </form>
</header>
<h1>Wishlist Search Results</h1>

<!-- Results Table -->
<h2>Search Results</h2>
<table>
  <thead>
  <tr>
    <th>Wishlist</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="result : ${wishlistsSearchResults}">
    <td th:text="${result}"></td>
  </tr>
  </tbody>
</table>

<!-- Navigation Buttons -->
<div style="margin-top: 20px;">
  <form th:action="@{/homepage/{profileID}/wishlist/searchbar}" method="get" style="display: inline;">
    <button type="submit">Back to Search</button>
  </form>

  <form th:action="@{/homepage/{profileID}}" method="get" style="display: inline;">
    <button type="submit">Back to Homepage</button>
  </form>
</div>

</body>
</html>