<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Search for wishlists</title>
  <link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
<header>
  <a th:href="@{/homepage/{profileID} (profileID=${profile_id})}" class="logo">
    <h1><span class="local">Local</span><span class="wish">Wish</span><span class="local">.</span></h1>
  </a>

  <form class="logo" method="get" th:action="@{/login}" style="display:inline;">
    <button type="submit">Log out</button>
  </form>
</header>
<h1>Wishlist search results</h1>

<!-- Results Table -->
<h2>Search results</h2>
<table>
  <thead>
  <tr>
    <th>Wishlist</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="result : ${wishlistsSearchResults}">
    <td th:text="${result}"></td>
  </tr>
  </tbody>
</table>

<!-- Navigation Buttons -->
<div style="margin-top: 20px;">
  <form th:action="@{/homepage/{profileID}/wishlist/searchbar}" method="get" style="display: inline;">
    <button type="submit">Back to search</button>
  </form>

  <form th:action="@{/homepage/{profileID} (profileID=${profile_id})}" method="get" style="display: inline;">
    <button type="submit">Back to homepage</button>
  </form>
</div>

</body>
</html>