<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search for Wishlists</title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
<header>
    <a th:href="@{/homepage/{profileID} (profileID=${profile_id})}" class="logo">
        <h1><span class="local">Local</span><span class="wish">Wish</span><span class="local">.</span></h1>
    </a>

    <form class="logo" method="get" th:action="@{/login}" style="display:inline;">
        <button type="submit">Log out</button>
    </form>
</header>
<h1>Wishlist search</h1>
<!-- Search Form -->
<form action="/homepage/{profileID}/wishlist/searchWishlist" method="GET">
    <input type="text" id="search" name="search" placeholder="Search..." required>
    <button type="submit">Search</button>
</form>

</body>
</html>