<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search for Wishlists</title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
<header>
    <h1 class="logo"><span>Local</span>Wish<span>.</span></h1>
    <form class="logo" method="get" th:action="@{/login}" style="display:inline;">
        <button type="submit">Log out</button>
    </form>
</header>
<h1>Wishlist Search</h1>
<!-- Search Form -->
<form action="/homepage/{profileID}/wishlist/searchWishlist" method="GET">
    <label for="search">Search Wishlists:</label>
    <input type="text" id="search" name="search" placeholder="Search..." required>
    <button type="submit">Search</button>
</form>

</body>
</html>